body {
	background-color: skyblue;
	background-image: url('images/heading2.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	background-size: cover;
}
#heading {
	height: 330px;
	margin-top: 50px;
	color: #91B7E9;
	font-weight: bold;
}
#heading p {
	-webkit-animation: p 2s ease-in-out 1 normal;
	animation: p 2s ease-in-out 1 normal;
}
@-webkit-keyframes p {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
keyframes p{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
#heading h1 {
	opacity: 0;
	-webkit-animation:  h1 4s ease-in-out infinite;
	animation: h1 4s ease-in-out infinite;
}
@-webkit-keyframes  h1 {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
keyframes h1 {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
#heading h1:hover {
	color: #CDD6D5;
}
#heading p:hover {
	color: #CDD6D5;
}
#heading div {
	text-align: center;
	padding-top: 150px;
}
#home {
	display: flex;
	flex-direction: row;
	background-color: #234856;
}
#home div:first-of-type {
	order: -1;
	flex: 2;
}
.hide {
	text-align: center;
	width: 80%;
	margin: auto;
	color: #91B7E9;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#home .align-mid{
	order: 0;
	flex: 4;
}
.message {
	color: #A9E8DC;
}

#home div:last-of-type {
	order: 1;
	flex: 2;
}
.carousel-caption {
	position: relative;
	left: 50%;
	top: 5%;
}
.skills {
	color: #CDD6D5;
}
#experience {
	background-color: #415B76;
	color: #91B7E9;
	display: flex;
	flex-direction: row;
}
.bright {
	opacity: .8;
}
.bright:hover {
	opacity: 1;
}
#education {
	background-color: #234856;
	color: #91B7E9;
	display: flex;
	flex-direction: row;
}
#education div:first-of-type, #experience div:first-of-type {
	order: 0;
	flex: 5;
}
#education div:nth-of-type(2), #experience div:nth-of-type(2) {
	order: 1;
	flex: 5;
}
#education img, #experience img {
	border-radius: 30px;
	margin-left: 10%;
	margin-top: 20%;
}
#projects {
	background-color: #415B76;
	overflow: auto;
}

#projects {
	overflow: auto;
}
#projects-list {
	display: flex;
	flex-direction: row;
}
#projects-list .card {
	background-color: #6C88AD;
}
#projects-list .card:first-of-type {
	order: -1;
	flex: 3;
}
#projects-list .card:nth-of-type(2) {
	order: 0;
	flex: 3;
}
#projects-list .card:last-of-type {
	order: 1;
	flex: 3;
}
#contact {
	color: #CDD6D5;
}
#contact-center {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
#contact-center form {
	flex: 2;
	margin-right: 40%;
}
#contact-center div:last-of-type {
	flex: 2;
}
#contact h2 {
	text-align: center;
}
.footer {
	background-color: #1C1C1C;
	text-align: center;
}
.confirm {
	width: 80%;
	margin: auto;
}

@media only screen and (max-width: 1000px) {
	.bright:first-of-type, .bright:nth-of-type(2) {
		display: none;
	}
}
@media only screen and (max-width: 920px) {
	.hide {
		display: none;
	}
	#experience, #education {
		display: flex;
		flex-direction: column;
	}
	#experience div:last-of-type, #education div:first-of-type {
		flex: 10;
		order: 0;
	}
	#experience img, #education img{
		margin-left: 0;
		margin-top: 0;
	}
	#experience div:first-of-type, #education div:nth-of-type(2) {
		width: 100%;
		flex: 10;
		order: 1;
	}
	#projects-list {
		flex-direction: column;
	}
	
	.card div a {
		margin-left: 60px;
	}
	.carousel-caption p {
		font-size: .8em;
		font-weight: bold;
	}
	.carousel-caption h2 {
		font-size: .9em;
		font-weight: bold;
	}
	#contact-center {
		display: flex;
		flex-direction: column;
	}
	#contact-center form {
		order: 0;
		margin: auto;
		flex: 10;
	}
	#contact-center div:last-of-type {
		flex: 10;
		margin: auto;
		padding-top: 20px;
		order: 1;
	}
	.bright {
		display: none;
	}
}
@media only screen and (max-width: 420px) {
	#experience img, #education img{
		width: 250px;
		height: auto;
	}
	#home .align-mid img{
		width: 300px;
		height: auto;
	}
	#heading p {
		font-size: .7em;
	}
}
