* {
	box-sizing: border-box;
}
body {
	background-color: #FCEBB6;
	background-image: url(images/background.gif);
	color: #221811;
	font-family: Verdana, Arial, sans-serif;
}

header {
	background-color: #D2B48C;
	height: 150px;
	background-image: url(images/javajamlogo.jpg);
	background-repeat: no-repeat;
}
h1 {
	padding-top: 45px;
	padding-left: 220px;
	font-size: 3em;
}
nav {
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	padding-top: 10px;
	float: left;
	width: 200px;
}
nav a {
	text-decoration: none;
}
nav a:link {
	color: #FEF6C2;
}
nav a:visited {
	color: #D2B48C;
}
nav a:hover {
	color: #CC9933;
}

nav ul {
	list-style-type: none;
	padding-left: 0;
}
main {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 2em;
	padding-top: 0;
	background-color: #FEF6C2;
	display: block;
	margin-left: 200px;
}
h4 {
	background-color: #D2B48C;
	font-size: 1.2em;
	padding-left: .5em;
	padding-bottom: 0;
	text-transform: uppercase;
	border-bottom: 2px solid #231814;
	clear: left;
}
.details {
	padding-left: 20%;
	padding-right: 20%;
	overflow: auto;
}
img {
	padding-left: 10px;
	padding-right: 10px;
}
footer {
	background-color: #D2B48C;
	font-size: .60em;
	font-style: italic;
	text-align: center;
	padding-bottom: 10px;
	border-top: 2px solid #221811;
}
#wrapper {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	background-color: #231814;
	min-width: 900px;
	max-width: 1280px;
	box-shadow: 5px 5px 5px #C9C293;
}
#heroroad{
	background-image: url(images/heroroad.jpg);
	background-size: 100% 100%;
	height: 250px;
}
#heromugs{
	background-image: url(images/heromugs.jpg);
	background-size: 100% 100%;
	height: 250px;
}
#heroguitar {
	background-image: url(images/heroguitar.jpg);
	background-size: 100% 100%;
	height: 250px;
}
main h2 {
	padding-left: 3em;
	padding-right: 2em;
}
main h3 {
	padding-left: 3em;
	padding-right: 2em;
}
main h4 {
	padding-left: 3em;
	padding-right: 2em;
}
main p {
	padding-left: 3em;
	padding-right: 2em;
}
main div {
	padding-left: 3em;
	padding-right: 2em;
}
main ul{
	padding-left: 3em;
	padding-right: 2em;
}
main dl {
	padding-left: 3em;
	padding-right: 2em;
}

.floatleft {
	float: left;
	padding-right: 2em;
	padding-bottom: 2em;
}
header, nav, main, footer{
	display: block;
}
#mobile {
	display: none;
}
#desktop {
	display: inline;
}
table {
	width: 90%;
	margin: auto;
	border-spacing: 0;
	background-color: #FEF6C2;
}
td, th {
	padding: 10px;
}
tr:nth-of-type(odd) {
	background-color: #D2B48E;
}
form {
	padding: 2em;
}
label {
	float: left;
	display: block;
	text-align: right;
	width: 8em;
	padding-right: 1em;
}
input, textarea {
	display: block;
	margin-bottom: 1em;
}
#mySubmit {
	margin-left: 9.5em;
}
#herojobs {
	height: 250px;
	background-image: url(images/herojobs.jpg);
	background-size: 100% 100%;
}
audio {
	display: block;
	margin-top: 1em;
}
.item {
	background-color: #FAF9F7;
	margin-bottom: 2em;
	margin-top: 2em;
	margin-right: 3em;
	margin-left: 3em;
	width: 80%;
	padding: 1em;
	overflow: auto;
}
.item img{
	float: right;
}
#herocouch {
	height: 250px;
	background-image: url(images/herocouch.jpg); 
	background-size: 100% 100%;
}
@media only screen and (max-width: 1024px) {
	body {
		margin: 0;
		background-image: none;
	}
	#wrapper {
		width: auto;
		min-width: 0;
		margin: 0;
		padding: 0;
		box-shadow: none;
	}
	header {
		border-bottom: 5px solid #FEF6C2;
	}
	h1 {
		margin-top: 0;
		margin-bottom: 1em;
		padding-top: 1em;
		padding-bottom: 1em;
		font-size: 2.5em;
	}
	nav {
		float: none;
		width: auto;
		padding-top: 0;
		margin: 10px;
		font-size: 1.3em;
	}
	nav li {
		display: inline-block;
	}
	nav a {
		padding: 1em;
		width: 8em;
		font-weight: bold;
		border-style: none;
	}
	nav ul {
		padding: 0;
		margin: 0;
	}
	#heroroad, #heromugs, #heroguitar {
		margin: 0;
		padding: 0;
	}
	main {
		margin: 0;
		font-size: 90%;
	}
}
@media only screen and (max-width: 768px) {
	header {
		background-image: url(images/javajammini.jpg);
		height: 128px;
	}
	h1 {
		font-size: 2em;
		text-align: center;
		padding-left: 0;
	}
	nav {
		margin: 0;
	}
	nav a {
		display: block;
		padding: .2em;
		width: auto;
		border-bottom: 1px solid #FEF6C2;
	}
	nav li {
		display: block;
	}
	main {
		padding-top: 1px;
	}
	h2 {
		padding-top: 0.5em;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 0.5em;
		margin-right: 0.5em;
	}
	.details {
		padding-right: 0;
		padding-left: 0;
	}
	#heroroad, #heromugs, #heroguitar {
		background-image: none;
		height: auto;
	}
	
	.floatleft {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	#mobile {
		display: inline;
	}
	#desktop {
		display: none;
	}
	#herojobs {
		display: none;
	}
}