* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #efebe8;
  background-image: linear-gradient(to right, #e1ddda, #eae9e5);
}
header, main, nav, footer, section, article, figure, figcaption, aside {
  display: block;
  text-align: left;
}
h2, h3 {
  font-family: Georgia, serif;
  color: #2a4031;
}
#wrapper {
  background-color: rgba(238, 234, 231, .3);
  background-image: url(images/desktop.png);
  background-size: cover;
  background-position: 50% 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 85%;
  max-width: 100%;
  height: auto;
}
/* navigation section starts*/
nav {
  margin-top: 5px;
  height: auto;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(212, 215, 214);
}
nav img {
  display: inline;
  float: left;
  padding-left: 10px;
}
nav ul {
  text-align: center;
}
nav li {
  list-style-type: none;
  display: inline;
}
nav li a {
  text-decoration: none;
  margin-left: 1.5em;
  font-size: 1.2em;
  font-family: Georgia, serif;
  border-radius: 6px;
  padding: 0 8px;
  text-shadow: 4px 4px 4px rgb(190, 180, 190);
  color: #32443f;
}
nav li a:visited {
  color: #0b4734;
}
nav li a:hover {
  color: #a1beb7;
  background-color: rgb(119, 115, 119);
}
nav li a:active {
  color: rgb(39, 153, 136);
}
#mobile {
  display: none;
  clear: both;
}
/* index main element starts*/
#heading {
  text-align: center;
  position: relative;
  top: 50%;
}
#heading h1 {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 1em;
  color: #2a4031;
}
#heading a {
  text-decoration: none;
  font-family: "Arial Black", sans-serif;
  font-size: 1.5em;
  border: 2px solid gray;
  border-radius: 5px;
  color: gray;
  background-color: rgb(187, 196, 196);
}
#heading a:hover {
  color: rgb(213, 219, 218);
  background-color: #65ae80;
  border-color: rgb(187, 196, 196);
}
/* index page ends */

/* Browse page style begins */
#header {
  height: 90px;
  margin-bottom: 10px;
  color: #65ae80;
}
#header h1 {
  font-family: "Comic Sans MS", sans-serif;
  text-align: center;
  font-size: 1.5em;
}
#header p {
  font-family: Georgia, serif;
  padding: 10px;
  color: #000000;
}
.browse-flex {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 1em;
}
.browse-flex aside {
  flex: 3;
  padding: 10px 10px 20px 10px;
  margin-right: 20px;
  background-color: rgba(238, 234, 231, 0.6);
  border-radius: 5px;
}
.browse-flex div {
  flex: 7;
  padding: 10px 10px 20px 10px ;
}
table {
  width: 100%;
  margin: auto;
  border: 1px solid #d0cbc7;
  background-color: #f1f1ef;
}
table td, th, caption {
  border: 1px solid #d0cbc7;
}
caption {
  color: #65ae80;
  font-weight: bold;
  background-color: #f1f1ef;
}
tr:nth-of-type(odd) {
  background-color: #aca9a6;
}
table a {
  color: #0b4734;
}
table a:hover {
  color: #099065;
}
/* Browse page style ends */

/* Blog section style begins*/
#flex {
  display: flex;
  flex-direction: row;
}
aside {
  flex: 2;
  padding-right: 10px;
}
aside div, #flex-3 div {
  background-color: rgba(238, 234, 231, 0.6);
  border-radius: 5px;
}
#main-flex {
  flex: 6;
}
#flex-3 {
  flex: 2;
  padding-left: 10px
}
#flex-3 div{
  margin-bottom: 20px;
}
#main-flex article {
  height: auto;
  background-color: rgba(238, 234, 231, 0.9);
  border: 2px solid #cbc3c0;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
}
#main-flex article h2 {
  font-size: 1em;
}
#main-flex article a img{
  border-radius: 5px;
  float: left;
  margin-right: 5px;
}
/* Blog page style ends*/

/* about page style begins*/
#about {
  margin: 10px;
}
#about section {
  margin: 50px 0;
  background-color: rgba(238, 234, 231, 0.8);
  padding: 1em;
}
#about section a {
  border: none;
  color: #0b4734;
}
#about section a:hover {
  color: #099065;
}
#about section img {
  float: left;
  border-radius: 50%;
  margin-right: 10px;
}
/* about page style ends*/

/* footer section style begins*/
footer {
  position: relative;
  top: 90%;
  font-size: .7em;
  clear: both;
}
/* footer section style ends*/

/* media queries begins*/

@media only screen and (max-width: 768px) {
  #wrapper {
    background-image: url(images/tablet.png);
    margin: 0;
    padding: 0;
    width: 100%;
  }
  nav, nav ul {
    margin: 0;
    padding: 0;
  }
  nav img {
    display: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    display: block;
    text-align: center;
    padding: 5px 0;
  }
  nav li a {
    margin-left: 0;
    margin-right: 0;
  }
  #mobile {
    display: block;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(227, 226, 222, .7);
    height: 70px;
  }
  /* index main element */
  #heading {
    top: 20%;
  }
  /* index main element ends */

  /* browse page element begins */
  #header {
    height: auto;
  }
  #header p {
    font-size: .8em;
  }
  .browse-flex {
    flex-direction: column;
  }
  .browse-flex table{
    font-size: .8em;
  }
  /* browse page element begins */

  /* blog page responsive begins */
  #flex {
    flex-direction: column;
  }
  #main-flex {
    margin: 10px 0;
  }
  #main-flex article h2 {
    font-size: 1.5em;
  }
  #main-flex article, #flex aside {
    padding: 10px;
  }
}
@media only screen and (max-width: 480px) {
  body {
    background-color: #e3e2de;
  }
  #wrapper {
    background-image: url(images/mobile.png);
  }
}
